@if (isVisible && this.beatmapState.currentBeatmap()) { @let
beatmap=this.beatmapState.currentBeatmap()!;
<!-- Dodać że jeżeli ten komponent jest "kwadratowy na ekranie to list a w innym przypadku jakiś cover" -->
<div class="main" [style.--bg-image]="'url(' + beatmap.beatmapset!.covers!['list@2x'] + ')'">
  <div class="left">
    <div class="title">
      {{ beatmap.beatmapset?.title }}
    </div>
    <div class="artist">
      {{ beatmap.beatmapset?.artist }}
    </div>
    @if (beatmap.beatmapset?.genre_id) {
    <!-- Wedle dokumentacji to pole jest opcjonalne -->
    <div class="genre">Genre: {{ genre }}</div>
    }
    <div class="language">Language: {{ language }}</div>
  </div>
  <div class="right">
    <div class="creator">
      Mapped by {{ beatmap.beatmapset?.creator }} <br />
      <a [href]="beatmap.url" target="_blank">Link do mapy</a>
    </div>
  </div>
</div>
}
